h1::before {
    content: 'LipeDev : Blog';
    animation-name: h1;
    animation-duration: 25s;
}
@keyframes h1 {
    0% {content: 'Welcome to';}
    25% {content: 'LipeDevs';}
    50% {content: 'WEBSITE';}
    100% {content: 'LipeDev : Blog';}
}